.app {
  height: 100vh;
}
.app .sections {
  width: 100%;
  height: calc(100vh - 70px);
  position: relative;
  top: 70px;
  scroll-behavior: smooth;
  /* scroll-snap-type: y mandatory; */
}
.app .sections::-webkit-scrollbar {
  display: none;
}
.app .sections > * {
  width: 100vw;
  height: calc(100vh - 70px);
  
  /* scroll-behavior: smooth; */
  /* scroll-snap-align: start; */
}
/* @media (hover: none) and (pointer: coarse) {
  html {
    overflow: auto;
    scroll-snap-type: y mandatory;
  }

  .container {
    height: auto;
    display: contents;
    scroll-snap-type: unset;
  }
} */
